/* Drop shadow: Basically it is applied at any cutting edge of the image. */
/* syntax--> filter: drop-shadow(x-direction y-direction spread-radius color) */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 20rem;
    width: 20rem;
    filter: drop-shadow(0 0 60px white);
}