/* Mostly used color properties */

/* Name colors by using "color" property */

h1{
    color: blue;
}

/* RGB color (i.e. Red, Green, Blue)  */

p{
    color: #d0ff00; 
}

/* RGBA --> It represents RED, GREEN, BLUE and Alpha for opacity or density control and the value of Alpha lies b/w (0-1)> It is similar to rgb but with a opacity control parameter*/

a{
    color: rgba(255,0,0, 0.5);
}

/* Hex Color and it is represented by using hashtag (#) */

.para{
    color: #4b1992;
}